@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi, Shoaib Abbas</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-outline-primary">Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-outline-secondary">Create New</a>

</div>
